body {
  background: #fff;
  margin: 0px;
  font-family: Arial, sans-serif;
}

input[type="button"], input[type="submit"], button {font-size: 16px; padding: 12px 20px; background: #BD081C; cursor: pointer; box-sizing: border-box; border: 2px solid #ccc; border-radius: 4px; color: #fff; resize: none;}

input[type=text] {
  width: 100%;
  height: 40px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

input[type=email] {
  width: 100%;
  height: 40px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

header {
  background-color: #BD081C;
  color: white;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
}

header nav {
  display: inline-block;
  margin-top: 10px;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header nav li {
  margin-right: 20px;
}

header nav a {
  text-decoration: none;
  color: white;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 20px;
}

footer {
  background-color: #BD081C;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 16px;
}
footer a{
  color: white;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
}











